.Cform {
  background-color: #f0a8a8;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 450px;
  gap: 20px;
  text-align: left;
}

label {
}
