.Cform {
  background-color: #e7a0a0;
  width: 1000px;

  display: block;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 450px;
  gap: 20px auto;
  text-align: left;
}

form {
  margin: 10px;
}
h2 {
  margin-left: 20px;
}
div {
  margin-bottom: 5px;
}
button {
  margin-left: 15px;
  text-align: right;
}
input {
  margin-left: 5px;
}
