.Books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 185px;
  gap: 20px;

  margin: 20px;
}

.Books img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: auto;
}
.Searchbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  margin-left: 20px;
}
/* .Books img:hover {
  border: 3px solid rgb(78, 75, 75);
}  Better not until the Bfeat is working and can actually click and do something*/
