body {
  background-color: #cccccc;
  background-size: contain no-repeat;
  text-align: center;
}

.Home {
  width: 900px;
  margin-left: 70px;
  display: block;
}

.p1 {
  text-align: left;
  background-color: #e6b1b1;
}

p {
  margin-left: 50px;
  text-align: left;
}

.true {
  list-style-type: "*";
}
